<nav class="private-menu">
    <div class="private-menu__content">
        <button class="private-menu__control" type="button" aria-label="Открыть" aria-expanded="false">
            <span class="private-menu__icon" style="background-image: url('img/private-menu/control.svg');" aria-hidden></span>
        </button>
        <ul class="private-menu__items">
            <li class="private-menu__item">
                <a class="private-menu__link" href="#">
                    <span class="private-menu__icon" style="background-image: url('img/private-menu/personal-data.svg');" aria-hidden></span>
                    <span>Личные данные</span>
                </a>
            </li>
            <li class="private-menu__item">
                <a class="private-menu__link" href="#">
                    <span class="private-menu__icon" style="background-image: url('img/private-menu/settings.svg');" aria-hidden></span>
                    <span>Настройка игры</span>
                </a>
            </li>
            <li class="private-menu__item private-menu__item--active">
                <a class="private-menu__link" href="#">
                    <span class="private-menu__icon" style="background-image: url('img/private-menu/change-password.svg');" aria-hidden></span>
                    <span>Изменить пароль</span>
                </a>
            </li>
        </ul>
    </div>
</nav>