<nav class="private-menu">
    <div class="private-menu__content">
        <button class="private-menu__control" type="button" aria-label="Открыть" aria-expanded="false">
            <span class="private-menu__icon" style="background-image: url('img/icons/private-menu/control.svg');" aria-hidden></span>
        </button>
        <ul class="private-menu__items">
            <li class="private-menu__item">
                <a class="private-menu__link" href="#">
                    <span class="private-menu__icon" style="background-image: url('img/icons/private-menu/balance-refill.svg');" aria-hidden></span>
                    <span>Пополнение баланса</span>
                </a>
            </li>
            <li class="private-menu__item">
                <a class="private-menu__link" href="#">
                    <span class="private-menu__icon" style="background-image: url('img/icons/private-menu/balance-withdraw.svg');" aria-hidden></span>
                    <span>Запросить</span>
                </a>
            </li>
            <li class="private-menu__item private-menu__item--active">
                <a class="private-menu__link" href="#">
                    <span class="private-menu__icon" style="background-image: url('img/icons/private-menu/wallet.svg');" aria-hidden></span>
                    <span>Кошелек</span>
                </a>
            </li>
            <li class="private-menu__item">
                <a class="private-menu__link" href="#">
                    <span class="private-menu__icon" style="background-image: url('img/icons/private-menu/history-refill.svg');" aria-hidden></span>
                    <span>История пополнение баланса</span>
                </a>
            </li>
            <li class="private-menu__item">
                <a class="private-menu__link" href="#">
                    <span class="private-menu__icon" style="background-image: url('img/icons/private-menu/history-withdraw.svg');" aria-hidden></span>
                    <span>История вывода</span>
                </a>
            </li>
        </ul>
    </div>
</nav>