.breadcrumbs {
	&__items {
		display: flex;
		align-items: center;
		padding-bottom: 8px;
		overflow-x: auto;
	}

	&__item {
		position: relative;
		margin-right: 4px;
		padding-right: 10px;

		&::before {
			position: absolute;
			top: 2px;
			right: 0;
			color: $dark-800;
			content: '/';
		}

		&:last-child {
			margin-right: 0;
			padding-right: 0;

			&::before {
				display: none;
			}
		}
	}

	&__link {
		color: $blue-400;
		font-size: 18px;
		white-space: nowrap;

		&--current {
			color: $dark-800;
			pointer-events: none;
		}
	}
}