.title {
	font-family: $russo;
	line-height: 1.2;
	text-transform: uppercase;
	@include adaptiv-value('font-size', 56, 40, 1);

	&--large {
		@include adaptiv-value('font-size', 78, 60, 1);
	}

	&--medium {
		font-size: 39px;
	}

	&--small {
		font-size: 26px;
	}

	&--accent {
		color: $blue-400;
	}

	&__accent {
		color: $blue-400;
	}
}

.subtitle {
	font-weight: $fw-900;
	font-size: 26px;
	line-height: 1.2;

	&--medium {
		@include adaptiv-value('font-size', 22, 16, 1);
	}

	&--small {
		@include adaptiv-value('font-size', 20, 16, 1);
	}

	&__accent {
		color: $blue-400;
	}
}

.title-filter {
	position: relative;
	margin-bottom: 15px;
	@include adaptiv-value('padding-left', 40, 32, 1);

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		width: 24px;
		height: 24px;
		background-image: url('../img/icons/filter.svg');
		content: '';
		@include bg-contain;
	}
}
