<article class="bet-card">
    <div class="bet-card__person person">
        <span class="person__name">
            Алексей Плеханов
        </span>
        <div class="person__awards">
            <span class="person__award" style="background-image: url('img/person/award-1.svg');" aria-label="Award 1"></span>
            <span class="person__award" style="background-image: url('img/person/award-2.svg');" aria-label="Award 2"></span>
        </div>
    </div>
    <span class="bet-card__score">5:6</span>
    <div class="bet-card__person person">
        <span class="person__name">
            Алексей Плеханов
        </span>
        <div class="person__awards">
            <span class="person__award" style="background-image: url('img/person/award-1.svg');" aria-label="Award 1"></span>
            <span class="person__award" style="background-image: url('img/person/award-2.svg');" aria-label="Award 2"></span>
        </div>
    </div>
</article>