<article class="tournament-card">
    <div class="tournament-card__content">
        <div class="tournament-card__info">
            <div class="tournament-card__type" style="background-image: url('img/icons/match-mode/pvp-1-1.svg');">
                <span class="sr-only">pvp</span>
            </div>
            <div class="tournament-card__descr">
                <div class="tournament-card__score">
                    <span>1:1</span>
                    <span>Dust 2</span>
                </div>
                <div class="tournament-card__time">
                    <span class="tournament-card__start">До начала:</span>
                    <span class="tournament-card__timer" data-timer="March 25 2023 00:00:00">
                        <span class="tournament-card__hours">0</span> ч. 
                        <span class="tournament-card__minutes">0</span> м.
                    </span>
                </div>
                <span class="tournament-card__cost">1000 р.</span>
            </div>
        </div>
        <div class="tournament-card__teams">
            <div class="tournament-card__team">
                <span class="tournament-card__name">NAVI</span>
                <picture>
                    <source srcset="img/team-logo/navi.avif" type="image/avif">
                    <source srcset="img/team-logo/navi.webp" type="image/webp">
                    <img class="tournament-card__img" src="img/team-logo/navi.png" alt="navi" width="50" height="50" loading="lazy">
                </picture>
            </div>
            <span class="tournament-card__vs">
                <span class="sr-only">vs</span>
            </span>
            <span class="tournament-card__price">1000 р.</span>
            <div class="tournament-card__team tournament-card__team--reverse">
                <span class="tournament-card__name">Virtus.pro</span>
                <picture>
                    <source srcset="img/team-logo/virtus.avif" type="image/avif">
                    <source srcset="img/team-logo/virtus.webp" type="image/webp">
                    <img class="tournament-card__img" src="img/team-logo/virtus.png" alt="navi" width="50" height="50" loading="lazy">
                </picture>
            </div>
        </div>
    </div>
    <div class="tournament-card__links">
        <a class="tournament-card__link tournament-card__link--play" href="#">
            <span class="sr-only">Смотреть</span>
        </a>
        <a class="tournament-card__link tournament-card__link--edit" href="#">
            <span class="sr-only">Редактировать ставку</span>
        </a>
    </div>
</article>