.claim-page {
	color: $black;

	&__back {
		position: relative;
		display: inline-block;
		margin-bottom: 32px;
		padding-left: 24px;
		font-weight: $fw-700;
		@include adaptiv-value('font-size', 20, 16, 1);

		&::before {
			position: absolute;
			top: 5px;
			left: 0;
			width: 20px;
			height: 20px;
			background-image: url('../img/icons/arrow.svg');
			transform: rotate(180deg);
			content: '';
			@include bg-contain;
		}
	}

	&__subtitle {
		@include adaptiv-value('margin-bottom', 22, 12, 1);
		display: inline-block;
		font-weight: $fw-700;
		@include adaptiv-value('font-size', 20, 18, 1);
	}

	&__items {
		box-shadow: 2px 10px 10px rgba($blue-600, 0.04);

		#inputGroupFile01::file-selector-button {
			display: none;
		}

		#inputGroupFile01 {
			border-left: 1px solid;
		}
	}

	&__select {
		border: 0;
		border-radius: 10px 0 0 10px;
	}

	&__file {
		height: 100%;
		border-color: transparent;
	}

	&__label {
		padding: 9px 20px;
	}

	&__text {
		line-height: 1.8;
		@include adaptiv-value('font-size', 16, 14, 1);
		@include adaptiv-value('margin-bottom', 58, 46, 1);

		p {
			&:not(:last-child) {
				margin-bottom: 12px;
			}
		}
	}

	&__button {
		width: 100%;
	}
}
