<article class="marquee-team">
    <div class="marquee-team__team">
        <picture class="marquee-team__img">
            <source srcset="img/team-logo/navi.avif" type="image/avif">
            <source srcset="img/team-logo/navi.webp" type="image/webp">
            <img src="img/team-logo/navi.png" alt="Navi" width="25" height="23" loading="lazy">
        </picture>
        <span class="marquee-team__title">NAVI 1</span>
    </div>
    <span class="marquee-team__vs">
        <span class="sr-only">vs</span>
    </span>
    <div class="marquee-team__team marquee-team__team--right">
        <picture class="marquee-team__img">
            <source srcset="img/team-logo/virtus.avif" type="image/avif">
            <source srcset="img/team-logo/virtus.webp" type="image/webp">
            <img src="img/logo/virtus.png" alt="virtus" width="25" height="23" loading="lazy">
        </picture>
        <span class="marquee-team__title">Virtus.pro 1</span>
    </div>
</article>