.bet-card {
	@include flex-center-sb;
	padding: 30px;
	background: $white;
	border-radius: 10px;

    @include mq(sm) {
        padding: 17px 15px;
    }

	&__score {
		color: $blue-400;
		font-weight: $fw-700;
        @include adaptiv-value('font-size', 30, 24, 1);
	}

	&__person,
	&__score {
		&:not(:last-child) {
			margin-right: 15px;
		}
	}

    .person {
        flex-direction: column;
        align-items: flex-start;

        &__name {
            margin-right: 0;
            margin-bottom: 10px;
            @include adaptiv-value('font-size', 18, 14, 1);
        }
    }
}
