.bet-win {
	margin-bottom: 30px;

	&__title {
		display: inline-block;
		margin-bottom: 8px;
		color: $black;
		font-size: 18px;
	}

	&__items {
		display: flex;
		margin-bottom: 30px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 10px 14px;
		font-weight: $fw-700;
		background-color: $white;
		border-radius: 10px;
		box-shadow: 2px 10px 10px rgba($blue-600, 0.04);

		@include mq(sm) {
			padding: 8px 10px;
		}

		&:not(:last-child) {
			@include adaptiv-value('margin-right', 15, 10, 1);
		}

		&--yellow {
			background-color: $yellow-300;
		}

		&--grey {
			background-color: $grey-300;
		}
	}

	&__subtitle {
		font-size: 16px;
		@include adaptiv-value('font-size', 16, 14, 1);
	}

	&__price {
		color: $blue-400;
		@include adaptiv-value('font-size', 18, 16, 1);
	}

	&__button {
		width: 100%;
	}
}
