.contacts {
	position: relative;
	padding-top: 65px;
	@include adaptiv-value('padding-bottom', 105, 55, 1);

	&__line-double {
		top: -195px;
		height: calc(100% + 394px);
	}

	&__container {
		position: relative;
		z-index: 1;
	}

	&__title {
		margin-bottom: 45px;
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;

		@include mq(lg) {
			flex-direction: column;
		}
	}

	&__emails {
		width: 100%;
		max-width: 380px;
		margin-right: 24px;

		@include mq(lg) {
			max-width: 100%;
			margin-right: 0;
			margin-bottom: 10px;
		}
	}

	&__emails,
	&__form {
		padding: 40px 30px;

		@include mq(lg) {
			padding: 30px 20px;
		}
	}

	&__headding {
		margin-bottom: 16px;
		text-align: left;
	}

	&__subtitle {
		margin-bottom: 10px;
	}

	&__item {
		color: $blue-400;
		font-weight: 700;
		line-height: 1.2;

		&:not(:last-child) {
			margin-bottom: 9px;
		}
	}

	&__form {
		width: 100%;
		max-width: 750px;

		@include mq(lg) {
			max-width: 100%;
		}
	}
}
