.management-form {
	.choices {
		width: 100%;

		&::after {
			@include bg-contain;
			background-image: url('../img/icons/arrow-select.svg');
			border: 0;
			@include adaptiv-value('right', 18, 16, 1);
			@include adaptiv-value('width', 20, 14, 1);
			@include adaptiv-value('height', 11, 8, 1);
		}

		&__inner {
			min-height: 100%;
			padding: 19px 35px 19px 30px;
			background-color: $white;
			border: none;
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;

			@include mq(md) {
				padding: 12px 30px 12px 20px;
			}
		}

		&__list {
			color: $black;
			&--single {
				padding: 0;
			}

			&[aria-expanded] {
				margin-top: 0;
				background-color: $white;
				border: none;
				border-radius: 10px;
				box-shadow: 2px 10px 15px rgba($blue-600, 0.24);
			}
		}

		&__item {
			display: flex;
			font-size: 18px;

			@include mq(md) {
				font-size: 14px;
			}
		}

		&[data-type*='select-one'] .choices__inner {
			padding-bottom: 19px;

			@include mq(md) {
				padding-bottom: 12px;
			}

			@include mq(md) {
				padding-bottom: 12px;
			}
		}

		&[data-type*='select-one'] {
			::after {
				margin-top: 0;
				background-image: url('../img/icons/arrow-select.svg');
				border-width: 0;
				@include bg-contain;
			}
		}

		.choices__list--dropdown .choices__item--selectable.is-highlighted,
		.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
			color: $white;
			background-color: $blue-400;

			&::after {
				display: none;
			}
		}

		.choices__list--dropdown .choices__item,
		.choices__list[aria-expanded] .choices__item {
			padding: 10px 30px;
			font-size: 18px;

			@include mq(md) {
				padding: 8px 20px;
				font-size: 14px;
			}
		}
	}
}

.test {
    font-family: fontello;
}