.management-form {
	width: 100%;
	margin-bottom: 35px;
	@include adaptiv-value('font-size', 18, 13, 1);

	&--active {
		position: absolute;
        left: 0;
		z-index: 11;
		max-height: 100%;
		margin: 20px 0 20px;
		padding: 22px 20px 50px;
		overflow-y: auto;
		background-color: $blue-100;
		border-radius: 10px;
		box-shadow: 2px 10px 10px rgba($blue-600, 0.04);

		.management-form__form {
			display: block;
			min-height: 100%;
		}

		.management-form__title {
			padding-left: 30px;

			&::before {
				display: block;
			}
		}

		.management-form__open {
			width: 100%;
			max-width: 50px;
			height: 50px;
			padding: 6px;
			font-size: 0;

			&::before {
				background-image: url('../img/icons/close.svg');
			}
		}
	}

	&__top {
		@include flex-center-sb;

		@include mq(md) {
			margin-bottom: 17px;
		}
	}

	&__open,
	&__title {
		position: relative;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 24px;
			height: 24px;
			background-image: url('../img/icons/filter.svg');
			content: '';
			@include bg-contain;
		}
	}

	&__title {
		margin-bottom: 15px;
		@include adaptiv-value('padding-left', 40, 32, 1);

		&::before {
			@include mq(md) {
				display: none;
			}
		}

		@include mq(md) {
			margin-right: 12px;
			margin-bottom: 0;
			padding-left: 0;
		}
	}

	&__open {
		@include flex-all-center;
		display: none;
		padding: 12px 17px 12px 43px;
		line-height: 1.3;
		background-color: $white;
		border-radius: 8px;

		@include mq(md) {
			display: flex;
		}

		&::before {
			top: 50%;
			left: 15px;
			transform: translateY(-50%);
		}
	}

	&__form {
		& > :not(:last-child) {
			@include adaptiv-value('margin-bottom', 16, 12, 1);
		}

		@include mq(md) {
			display: none;
		}
	}

	&__fieldes {
		display: flex;
		box-shadow: 2px 10px 10px rgba($dark-800, 0.04);
	}

	&__subtitle {
		display: inline-flex;
		padding: 20px 32px;
		color: $white;
		white-space: nowrap;
		background-color: $blue-400;
		border-radius: 10px 0 0 10px;
		@include flex-all-center;
	}

	&__input {
		width: 100%;
		max-width: 530px;

		&--first {
			position: relative;
			max-width: 380px;

			&::before {
				position: absolute;
				top: 0;
				right: 0;
				width: 1px;
				height: 100%;
				background-color: $blue-200;
				content: '';
			}
		}

		&--second {
			.management-form__field {
				border-radius: 0 10px 10px 0;
			}
		}

		&:last-child {
			border-radius: 10px;
		}
	}

	&__field {
		width: 100%;
		padding: 20px 30px;
		color: $black;
		background-color: $white;
		border-radius: inherit;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			margin: 0;
			-webkit-appearance: none;
		}

		&[type='number'] {
			-moz-appearance: textfield;
		}
	}

	&__items {
		display: flex;

		.management-form__item {
			width: 50%;

			@include mq(md) {
				width: 100%;
			}
		}

		@include mq(md) {
			flex-direction: column;
		}
	}

	&__item {
		display: flex;
		width: 100%;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		box-shadow: 2px 10px 10px rgba($blue-600, 0.04);

		&:not(:last-child) {
			margin-right: 20px;

			@include mq(md) {
				margin-right: 0;
				margin-bottom: 12px;
			}
		}

		&--large {
			width: 100%;
		}
	}

	&__type {
		width: 40px;
		height: 40px;
		@include bg-contain;
	}
}
