<!-- upcoming-tournaments -->
<table class="table">
    <tr class="table__items table__items--headding">
        <th class="table__item">Игра</th>
        <th class="table__item">Команда</th>
        <th class="table__item">Дата</th>
        <th class="table__item">Сумма</th>
        <th class="table__item">Оружие</th>
        <th class="table__item">ID</th>
        <th class="table__item"></th>
    </tr>
    <tr class="table__items">
        <td class="table__item">
            <div class="upcoming-tournaments__play">
                <div class="upcoming-tournaments__type" style="background-image: url('img/tournament-type.svg');">
                    <span class="sr-only">pvp</span>
                </div>
                <div class="upcoming-tournaments__score">
                    <span>1:1</span>
                    <span>Dust 2</span>
                </div>
            </div>
        </td>
        <td class="table__item">
            <div class="table__team">
                <picture class="table__logo">
                    <source srcset="img/team-logo/navi.avif" type="image/avif">
                    <source srcset="img/team-logo/navi.webp" type="image/webp">
                    <img src="img/team-logo/navi.png" alt="navi" width="50" height="50" loading="lazy">
                </picture>
            </div>
        </td>
        <td class="table__item table__item--bold">
            <time datetime="2023-10-10">10.10.2023</time>
        </td>
        <td class="table__item">
            <span class="table__price">7.000</span>
        </td>
        <td class="table__item">
            AVP
        </td>
        <td class="table__item">
            188233844
        </td>
        <td class="table__item">
            <ul class="table__controls">
                <li class="table__control">
                    <a class="table__link" href="#" style="background-image: url('img/icons/finish.svg');">
                        <span class="sr-only">Финиш</span>
                    </a>
                </li>
                <li class="table__control table__control--icon">
                    <a class="table__link" href="#" style="background-image: url('img/icons/aim.svg');">
                        <span class="sr-only">Смотреть</span>
                    </a>
                </li>
                <li class="table__control">
                    <a class="table__link" href="#" style="background-image: url('img/icons/edit.svg');">
                        <span class="sr-only">Редактировать ставку</span>
                    </a>
                </li>
            </ul>
        </td>
    </tr>
    <tr class="table__items">
        <td class="table__item">
            <div class="upcoming-tournaments__play">
                <div class="upcoming-tournaments__type" style="background-image: url('img/tournament-type.svg');">
                    <span class="sr-only">pvp</span>
                </div>
                <div class="upcoming-tournaments__score">
                    <span>1:1</span>
                    <span>Dust 2</span>
                </div>
            </div>
        </td>
        <td class="table__item">
            <div class="table__team">
                <picture class="table__logo">
                    <source srcset="img/team-logo/navi.avif" type="image/avif">
                    <source srcset="img/team-logo/navi.webp" type="image/webp">
                    <img src="img/team-logo/navi.png" alt="navi" width="50" height="50" loading="lazy">
                </picture>
            </div>
        </td>
        <td class="table__item table__item--bold">
            <time datetime="2023-10-10">10.10.2023</time>
        </td>
        <td class="table__item">
            <span class="table__price">7.000</span>
        </td>
        <td class="table__item">
            AVP
        </td>
        <td class="table__item">
            188233844
        </td>
        <td class="table__item">
            <ul class="table__controls">
                <li class="table__control">
                    <a class="table__link" href="#" style="background-image: url('img/icons/finish.svg');">
                        <span class="sr-only">Финиш</span>
                    </a>
                </li>
                <li class="table__control">
                    <a class="table__link" href="#" style="background-image: url('img/icons/aim-super.svg');">
                        <span class="sr-only">Смотреть</span>
                    </a>
                </li>
                <li class="table__control">
                    <a class="table__link" href="#" style="background-image: url('img/icons/edit.svg');">
                        <span class="sr-only">Редактировать ставку</span>
                    </a>
                </li>
            </ul>
        </td>
    </tr>
    <tr class="table__items">
        <td class="table__item">
            <div class="upcoming-tournaments__play">
                <div class="upcoming-tournaments__type" style="background-image: url('img/tournament-type.svg');">
                    <span class="sr-only">pvp</span>
                </div>
                <div class="upcoming-tournaments__score">
                    <span>1:1</span>
                    <span>Dust 2</span>
                </div>
            </div>
        </td>
        <td class="table__item">
            <div class="table__team">
                <picture class="table__logo">
                    <source srcset="img/team-logo/navi.avif" type="image/avif">
                    <source srcset="img/team-logo/navi.webp" type="image/webp">
                    <img src="img/team-logo/navi.png" alt="navi" width="50" height="50" loading="lazy">
                </picture>
            </div>
        </td>
        <td class="table__item table__item--bold">
            <time datetime="2023-10-10">10.10.2023</time>
        </td>
        <td class="table__item">
            <span class="table__price">7.000</span>
        </td>
        <td class="table__item">
            AVP
        </td>
        <td class="table__item">
            188233844
        </td>
        <td class="table__item">
            <ul class="table__controls">
                <li class="table__control">
                    <a class="table__link" href="#" style="background-image: url('img/icons/cup.svg');">
                        <span class="sr-only">Финиш</span>
                    </a>
                </li>
                <li class="table__control table__control--icon">
                    <a class="table__link" href="#" style="background-image: url('img/icons/aim.svg');">
                        <span class="sr-only">Смотреть</span>
                    </a>
                </li>
                <li class="table__control">
                    <a class="table__link" href="#" style="background-image: url('img/icons/edit.svg');">
                        <span class="sr-only">Редактировать ставку</span>
                    </a>
                </li>
            </ul>
        </td>
    </tr>
</table>

<ul class="upcoming-tournaments__mobile table table-mobile">
    <li class="table-mobile__list">
        <span class="table-mobile__number">#1</span>
        <div class="upcoming-tournaments__content">
            <div class="upcoming-tournaments__list">
                <div class="table-mobile__icon table-mobile__icon--game">
                    <span>1:1</span>
                    <span>Dust 2</span>
                </div>
                <time class="table-mobile__icon table-mobile__icon--time" datetime="2023-10-10">10.10.2023</time>
                <span class="table-mobile__icon table-mobile__icon--id">188233844</span>
            </div>
            <div class="upcoming-tournaments__list">
                <span class="table-mobile__icon table-mobile__icon--mode">AVP</span>
                <span class="table-mobile__icon table-mobile__icon--ruble">7.000</span>
                <picture class="table-mobile__logo">
                    <source srcset="img/team-logo/navi.avif" type="image/avif">
                    <source srcset="img/team-logo/navi.webp" type="image/webp">
                    <img src="img/team-logo/navi.png" alt="navi" width="50" height="50" loading="lazy">
                </picture>
            </div>
            <div class="upcoming-tournaments__list">
                <div class="upcoming-tournaments__type" style="background-image: url('img/tournament-type.svg');">
                    <span class="sr-only">pvp</span>
                </div>
            </div>
        </div>
        <ul class="table__controls">
            <li class="table__control">
                <a class="table__link" href="#" style="background-image: url('img/icons/finish.svg');">
                    <span class="sr-only">Финиш</span>
                </a>
            </li>
            <li class="table__control table__control--icon">
                <a class="table__link" href="#" style="background-image: url('img/icons/aim.svg');">
                    <span class="sr-only">Смотреть</span>
                </a>
            </li>
            <li class="table__control">
                <a class="table__link" href="#" style="background-image: url('img/icons/edit.svg');">
                    <span class="sr-only">Редактировать ставку</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="table-mobile__list">
        <span class="table-mobile__number">#1</span>
        <div class="upcoming-tournaments__content">
            <div class="upcoming-tournaments__list">
                <div class="table-mobile__icon table-mobile__icon--game">
                    <span>1:1</span>
                    <span>Dust 2</span>
                </div>
                <time class="table-mobile__icon table-mobile__icon--time" datetime="2023-10-10">10.10.2023</time>
                <span class="table-mobile__icon table-mobile__icon--id">188233844</span>
            </div>
            <div class="upcoming-tournaments__list">
                <span class="table-mobile__icon table-mobile__icon--mode">AVP</span>
                <span class="table-mobile__icon table-mobile__icon--ruble">7.000</span>
                <picture class="table-mobile__logo">
                    <source srcset="img/team-logo/navi.avif" type="image/avif">
                    <source srcset="img/team-logo/navi.webp" type="image/webp">
                    <img src="img/team-logo/navi.png" alt="navi" width="50" height="50" loading="lazy">
                </picture>
            </div>
            <div class="upcoming-tournaments__list">
                <div class="upcoming-tournaments__type" style="background-image: url('img/tournament-type.svg');">
                    <span class="sr-only">pvp</span>
                </div>
            </div>
        </div>
        <ul class="table__controls">
            <li class="table__control">
                <a class="table__link" href="#" style="background-image: url('img/icons/finish.svg');">
                    <span class="sr-only">Финиш</span>
                </a>
            </li>
            <li class="table__control">
                <a class="table__link" href="#" style="background-image: url('img/icons/aim-super.svg');">
                    <span class="sr-only">Смотреть</span>
                </a>
            </li>
            <li class="table__control">
                <a class="table__link" href="#" style="background-image: url('img/icons/edit.svg');">
                    <span class="sr-only">Редактировать ставку</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="table-mobile__list">
        <span class="table-mobile__number">#1</span>
        <div class="upcoming-tournaments__content">
            <div class="upcoming-tournaments__list">
                <div class="table-mobile__icon table-mobile__icon--game">
                    <span>1:1</span>
                    <span>Dust 2</span>
                </div>
                <time class="table-mobile__icon table-mobile__icon--time" datetime="2023-10-10">10.10.2023</time>
                <span class="table-mobile__icon table-mobile__icon--id">188233844</span>
            </div>
            <div class="upcoming-tournaments__list">
                <span class="table-mobile__icon table-mobile__icon--mode">AVP</span>
                <span class="table-mobile__icon table-mobile__icon--ruble">7.000</span>
                <picture class="table-mobile__logo">
                    <source srcset="img/team-logo/navi.avif" type="image/avif">
                    <source srcset="img/team-logo/navi.webp" type="image/webp">
                    <img src="img/team-logo/navi.png" alt="navi" width="50" height="50" loading="lazy">
                </picture>
            </div>
            <div class="upcoming-tournaments__list">
                <div class="upcoming-tournaments__type" style="background-image: url('img/tournament-type.svg');">
                    <span class="sr-only">pvp</span>
                </div>
            </div>
        </div>
        <ul class="table__controls">
            <li class="table__control">
                <a class="table__link" href="#" style="background-image: url('img/icons/cup.svg');">
                    <span class="sr-only">Финиш</span>
                </a>
            </li>
            <li class="table__control table__control--icon">
                <a class="table__link" href="#" style="background-image: url('img/icons/aim.svg');">
                    <span class="sr-only">Смотреть</span>
                </a>
            </li>
            <li class="table__control">
                <a class="table__link" href="#" style="background-image: url('img/icons/edit.svg');">
                    <span class="sr-only">Редактировать ставку</span>
                </a>
            </li>
        </ul>
    </li>
</ul>

<!-- awards -->
<table class="table">
    <tr class="table__items table__items--headding">
        <th class="table__item">Дата</th>
        <th class="table__item">Игрок</th>
        <th class="table__item">Ставка</th>
        <th class="table__item">Результат</th>
        <th class="table__item">Заработок</th>
    </tr>
    <tr class="table__items">
        <td class="table__item table__item--bold">
            <div datetime="2023-10-10">10.10.2023</div>
        </td>
        <td class="table__item">
            <div class="table__team">
                <picture class="table__logo">
                    <source srcset="img/team-logo/navi.avif" type="image/avif">
                    <source srcset="img/team-logo/navi.webp" type="image/webp">
                    <img src="img/team-logo/navi.png" alt="navi" width="50" height="50" loading="lazy">
                </picture>
                <span>NAVI</span>
            </div>
        </td>
        <td class="table__item">
            1.500
        </td>
        <td class="table__item">
            <div class="awards__table__result">
                <span class="awards__table__icon" style="background-image: url('img/icons/cup.svg');" aria-hidden></span>
                <span class="awards__table__status">Win</span>
                <span class="awards__table__score awards__table__score--win">15:9</span>
            </div>
        </td>
        <td class="table__item">
            3.000
        </td>
    </tr>
    <tr class="table__items">
        <td class="table__item table__item--bold">
            <time datetime="2023-10-10">10.10.2023</time>
        </td>
        <td class="table__item">
            <div class="table__team">
                <picture class="table__logo">
                    <source srcset="img/team-logo/navi.avif" type="image/avif">
                    <source srcset="img/team-logo/navi.webp" type="image/webp">
                    <img src="img/team-logo/navi.png" alt="navi" width="50" height="50" loading="lazy">
                </picture>
                <span>NAVI</span>
            </div>
        </td>
        <td class="table__item">
            1.500
        </td>
        <td class="table__item">
            <div class="awards__table__result">
                <span class="awards__table__icon" style="background-image: url('img/icons/cup.svg');" aria-hidden></span>
                <span class="awards__table__status">Loose</span>
                <span class="awards__table__score awards__table__score--loose">10:15</span>
            </div>
        </td>
        <td class="table__item">
            3.000
        </td>
    </tr>
</table>

<ul class="table-mobile">
    <li class="table-mobile__list">
        <span class="table-mobile__number">#1</span>
        <time class="table-mobile__icon table-mobile__icon--time" datetime="2023-10-10">
            10.10.2023
        </time>
        <dl class="table-mobile__items">
            <div>
                <dt>Игрок: </dt>
                <dd> ---</dd>
            </div>

            <div>
                <dt>Ставка: </dt>
                <dd> 1.500 р.</dd>
            </div>

            <div>
                <dt>Результат:</dt>
                <dd> Win</dd>
            </div>

            <div>
                <dt>Заработок: </dt>
                <dd> 3.000 р.</dd>
            </div>
        </dl>
    </li>
    <li class="table-mobile__list">
        <span class="table-mobile__number">#2</span>
        <time class="table-mobile__icon table-mobile__icon--time" datetime="2023-10-10">
            10.10.2023
        </time>
        <dl class="table-mobile__items">
            <div>
                <dt>Игрок: </dt>
                <dd> ---</dd>
            </div>

            <div>
                <dt>Ставка: </dt>
                <dd> 1.500 р.</dd>
            </div>

            <div>
                <dt>Результат:</dt>
                <dd> Win</dd>
            </div>

            <div>
                <dt>Заработок: </dt>
                <dd> 3.000 р.</dd>
            </div>
        </dl>
    </li>
    <li class="table-mobile__list">
        <span class="table-mobile__number">#3</span>
        <time class="table-mobile__icon table-mobile__icon--time" datetime="2023-10-10">
            10.10.2023
        </time>
        <dl class="table-mobile__items">
            <div>
                <dt>Игрок: </dt>
                <dd> ---</dd>
            </div>

            <div>
                <dt>Ставка: </dt>
                <dd> 1.500 р.</dd>
            </div>

            <div>
                <dt>Результат:</dt>
                <dd> Win</dd>
            </div>

            <div>
                <dt>Заработок: </dt>
                <dd> 3.000 р.</dd>
            </div>
        </dl>
    </li>
</ul>

<!-- history-bet -->
<table class="table">
    <tr class="table__items table__items--headding">
        <th class="table__item">ID</th>
        <th class="table__item">Результат</th>
        <th class="table__item">Карта</th>
        <th class="table__item">Дата</th>
        <th class="table__item">Претензия</th>
    </tr>

    <tr class="table__items">
        <td class="table__item table__item--bold">
            18998872
        </td>
        <td class="table__item">
            от 10 до 10.000
        </td>
        <td class="table__item">
            Dast 2
        </td>
        <td class="table__item">
            <time datetime="2023-10-10">10.10.2023</time>
        </td>
        <td class="table__item table__item--accent">
            <a href="#">Есть</a>
        </td>
    </tr>

    <tr class="table__items">
        <td class="table__item table__item--bold">
            221112
        </td>
        <td class="table__item">
            от 10 до 10.000
        </td>
        <td class="table__item">
            Dast 2
        </td>
        <td class="table__item">
            <time datetime="2023-10-10">10.10.2023</time>
        </td>
        <td class="table__item table__item--accent">
            <a href="#">Есть</a>
        </td>
    </tr>

    <tr class="table__items">
        <td class="table__item table__item--bold">
            23323
        </td>
        <td class="table__item">
            от 10 до 10.000
        </td>
        <td class="table__item">
            Dast 2
        </td>
        <td class="table__item">
            <time datetime="2023-10-10">10.10.2023</time>
        </td>
        <td class="table__item">
            Нету
        </td>
    </tr>
</table>

<ul class="table-mobile">
    <li class="table-mobile__list">
        <span class="table-mobile__number">#1</span>
        <span class="table-mobile__icon table-mobile__icon--game">Dust 2</span>
        <time class="table-mobile__icon table-mobile__icon--time" datetime="2023-10-10">
            10.10.2023
        </time>
        <span class="table-mobile__icon table-mobile__icon--id">
            188233844
        </span>
        <dl class="table-mobile__items">
            <div>
                <dt>Претензия:</dt>
                <dd>
                    <a href="#">Есть</a>
                </dd>
            </div>

            <div>
                <dt>Результат:</dt>
                <dd>от 10 до 10.000</dd>
            </div>
        </dl>
    </li>
    <li class="table-mobile__list">
        <span class="table-mobile__number">#2</span>
        <span class="table-mobile__icon table-mobile__icon--game">Dust 2</span>
        <time class="table-mobile__icon table-mobile__icon--time" datetime="2023-10-10">
            10.10.2023
        </time>
        <span class="table-mobile__icon table-mobile__icon--id">
            188233844
        </span>
        <dl class="table-mobile__items">
            <div>
                <dt>Претензия:</dt>
                <dd>
                    <a href="#">Есть</a>
                </dd>
            </div>

            <div>
                <dt>Результат:</dt>
                <dd>от 10 до 10.000</dd>
            </div>
        </dl>
    </li>
    <li class="table-mobile__list">
        <span class="table-mobile__number">#3</span>
        <span class="table-mobile__icon table-mobile__icon--game">Dust 2</span>
        <time class="table-mobile__icon table-mobile__icon--time" datetime="2023-10-10">
            10.10.2023
        </time>
        <span class="table-mobile__icon table-mobile__icon--id">
            188233844
        </span>
        <dl class="table-mobile__items">
            <div>
                <dt>Претензия:</dt>
                <dd>
                    <a href="#">Есть</a>
                </dd>
            </div>

            <div>
                <dt>Результат:</dt>
                <dd>от 10 до 10.000</dd>
            </div>
        </dl>
    </li>
</ul>

<!-- my-tournaments -->
<table class="table">
    <tr class="table__items table__items--headding">
        <th class="table__item">ID</th>
        <th class="table__item">Игроки</th>
        <th class="table__item">Тип карты</th>
        <th class="table__item">Дата</th>
        <th class="table__item">Претензия</th>
        <th class="table__item">Диапазон суммы</th>
        <th class="table__item">Оружие</th>
    </tr>

    <tr class="table__items">
        <td class="table__item table__item--bold">
            18998872
        </td>
        <td class="table__item">
            5vs5
        </td>
        <td class="table__item">
            Зaложники
        </td>
        <td class="table__item">
            <time datetime="2023-10-10">10.10.2023</time>
        </td>
        <td class="table__item table__item--accent">
            Есть
        </td>
        <td class="table__item">
            от 10 до 10.000
        </td>
        <td class="table__item">
            M4A1-S
        </td>
    </tr>

    <tr class="table__items">
        <td class="table__item table__item--bold">
            18998872
        </td>
        <td class="table__item">
            5vs5
        </td>
        <td class="table__item">
            Зaложники
        </td>
        <td class="table__item">
            <time datetime="2023-10-10">10.10.2023</time>
        </td>
        <td class="table__item table__item--accent">
            Есть
        </td>
        <td class="table__item">
            от 10 до 10.000
        </td>
        <td class="table__item">
            M4A1-S
        </td>
    </tr>

    <tr class="table__items">
        <td class="table__item table__item--bold">
            18998872
        </td>
        <td class="table__item">
            5vs5
        </td>
        <td class="table__item">
            Зaложники
        </td>
        <td class="table__item">
            <time datetime="2023-10-10">10.10.2023</time>
        </td>
        <td class="table__item table__item--accent">
            Есть
        </td>
        <td class="table__item">
            от 10 до 10.000
        </td>
        <td class="table__item">
            M4A1-S
        </td>
    </tr>
</table>

<ul class="table-mobile">
    <li class="table-mobile__list">
        <span class="table-mobile__number">#1</span>
        <time class="table-mobile__icon table-mobile__icon--time" datetime="2023-10-10">
            10.10.2023
        </time>
        <span class="table-mobile__icon table-mobile__icon--id">
            188233844
        </span>
        <dl class="table-mobile__items">
            <div>
                <dt>Игроки:</dt>
                <dd>5vs5</dd>
            </div>

            <div>
                <dt>Тип карты:</dt>
                <dd>Заложники</dd>
            </div>

            <div>
                <dt>Претензия:</dt>
                <dd><a href="#">Есть</a></dd>
            </div>

            <div>
                <dt>Диапазон суммы:</dt>
                <dd>от 10 до 10.000</dd>
            </div>

            <div>
                <dt>Оружие:</dt>
                <dd>M4A1-S</dd>
            </div>
        </dl>
    </li>
    <li class="table-mobile__list">
        <span class="table-mobile__number">#2</span>
        <time class="table-mobile__icon table-mobile__icon--time" datetime="2023-10-10">
            10.10.2023
        </time>
        <span class="table-mobile__icon table-mobile__icon--id">
            188233844
        </span>
        <dl class="table-mobile__items">
            <div>
                <dt>Игроки:</dt>
                <dd>5vs5</dd>
            </div>

            <div>
                <dt>Тип карты:</dt>
                <dd>Заложники</dd>
            </div>

            <div>
                <dt>Претензия:</dt>
                <dd><a href="#">Есть</a></dd>
            </div>

            <div>
                <dt>Диапазон суммы:</dt>
                <dd>от 10 до 10.000</dd>
            </div>

            <div>
                <dt>Оружие:</dt>
                <dd>M4A1-S</dd>
            </div>
        </dl>
    </li>
    <li class="table-mobile__list">
        <span class="table-mobile__number">#3</span>
        <time class="table-mobile__icon table-mobile__icon--time" datetime="2023-10-10">
            10.10.2023
        </time>
        <span class="table-mobile__icon table-mobile__icon--id">
            188233844
        </span>
        <dl class="table-mobile__items">
            <div>
                <dt>Игроки:</dt>
                <dd>5vs5</dd>
            </div>

            <div>
                <dt>Тип карты:</dt>
                <dd>Заложники</dd>
            </div>

            <div>
                <dt>Претензия:</dt>
                <dd><a href="#">Есть</a></dd>
            </div>

            <div>
                <dt>Диапазон суммы:</dt>
                <dd>от 10 до 10.000</dd>
            </div>

            <div>
                <dt>Оружие:</dt>
                <dd>M4A1-S</dd>
            </div>
        </dl>
    </li>
</ul>

<!-- create-bet -->
<table class="table">
    <tr class="table__items table__items--headding">
        <th class="table__item">Тип игры</th>
        <th class="table__item">Тип карты</th>
        <th class="table__item">Ограничение на оружие</th>
        <th class="table__item">Время раунда</th>
        <th class="table__item">Формула</th>
    </tr>

    <tr class="table__items">
        <td class="table__item">
            Обычный
        </td>
        <td class="table__item">
            Заложники
        </td>
        <td class="table__item">
            Нет
        </td>
        <td class="table__item">
            1ч 40м
        </td>
        <td class="table__item">
            Всё победителю
        </td>
    </tr>

    <tr class="table__items">
        <td class="table__item">
            Обычный
        </td>
        <td class="table__item">
            Заложники
        </td>
        <td class="table__item">
            Нет
        </td>
        <td class="table__item">
            1ч 40м
        </td>
        <td class="table__item">
            Всё победителю
        </td>
    </tr>
</table>

<ul class="table-mobile">
    <li class="table-mobile__list">
        <span class="table-mobile__number">#1</span>
        <dl class="table-mobile__items">
            <div>
                <dt>Тип игры:</dt>
                <dd>Обычный</dd>
            </div>

            <div>
                <dt>Тип карты:</dt>
                <dd>Заложники</dd>
            </div>

            <div>
                <dt>Ограничения на оружие::</dt>
                <dd><a href="#">Нет</a></dd>
            </div>

            <div>
                <dt>Время раунда:</dt>
                <dd>1ч 40м</dd>
            </div>

            <div>
                <dt>Формула:</dt>
                <dd>Всё победителю</dd>
            </div>
        </dl>
    </li>
</ul>

<!-- stack-conclusion -->
<table class="table">
    <tr class="table__items table__items--headding">
        <th class="table__item">Дата</th>
        <th class="table__item">Сумма</th>
        <th class="table__item">Статус</th>
        <th class="table__item">Ссылка на вывод</th>
        <th class="table__item">Причина</th>
    </tr>

    <tr class="table__items">
        <td class="table__item">
            <time datetime="2023-10-10">10.10.2023</time>
        </td>
        <td class="table__item">
            10000
        </td>
        <td class="table__item table__item--error">
            Откланён
        </td>
        <td class="table__item"></td>
        <td class="table__item">
            Недостаточно средств
        </td>
    </tr>

    <tr class="table__items">
        <td class="table__item">
            <time datetime="2023-10-10">10.10.2023</time>
        </td>
        <td class="table__item">
            10000
        </td>
        <td class="table__item table__item--confirm">
            Подтверждён
        </td>
        <td class="table__item">
            <a class="table__withdraw" href="#">Вывести</a>
        </td>
        <td class="table__item"></td>
    </tr>
</table>

<ul class="table-mobile">
    <li class="table-mobile__list">
        <span class="table-mobile__number">#1</span>
        <time class="table-mobile__icon table-mobile__icon--time" datetime="2023-10-10">
            10.10.2023
        </time>
        <dl class="table-mobile__items">
            <div>
                <dt>Сумма:</dt>
                <dd>1.000 р.</dd>
            </div>

            <div>
                <dt>Статус:</dt>
                <dd class="table-mobile__error">Заложники</dd>
            </div>

            <div>
                <dt>Ссылка на вывод:</dt>
                <dd>-</dd>
            </div>

            <div>
                <dt>Причина:</dt>
                <dd>Недостаточно средств</dd>
            </div>
        </dl>
    </li>

    <li class="table-mobile__list">
        <span class="table-mobile__number">#2</span>
        <time class="table-mobile__icon table-mobile__icon--time" datetime="2023-10-10">
            10.10.2023
        </time>
        <dl class="table-mobile__items">
            <div>
                <dt>Сумма:</dt>
                <dd>1.000 р.</dd>
            </div>
    
            <div>
                <dt>Статус:</dt>
                <dd class="table-mobile__error">Подтверждён</dd>
            </div>
    
            <div>
                <dt>Ссылка на вывод:</dt>
                <dd><a href="#">Вывести</a></dd>
            </div>
    
            <div>
                <dt>Причина:</dt>
                <dd>-</dd>
            </div>
        </dl>
    </li>
</ul>

<!-- history-balance -->
<table class="table">
    <tr class="table__items table__items--headding">
        <th class="table__item">Дата</th>
        <th class="table__item">Тип</th>
        <th class="table__item">Сумма</th>
        <th class="table__item">Валюта</th>
        <th class="table__item">Баланс</th>
    </tr>

    <tr class="table__items">
        <td class="table__item">
            <time datetime="2023-10-10">10.10.2023</time>
        </td>
        <td class="table__item">
            Пополнение
        </td>
        <td class="table__item">
            6500
        </td>
        <td class="table__item">
            осн
        </td>
        <td class="table__item">
            7000
        </td>
    </tr>

    <tr class="table__items">
        <td class="table__item">
            <time datetime="2023-10-10">10.10.2023</time>
        </td>
        <td class="table__item">
            Бонус
        </td>
        <td class="table__item">
            500
        </td>
        <td class="table__item">
            csgo
        </td>
        <td class="table__item">
            3000
        </td>
    </tr>

    <tr class="table__items">
        <td class="table__item">
            <time datetime="2023-10-10">10.10.2023</time>
        </td>
        <td class="table__item">
            Претензия
        </td>
        <td class="table__item">
            1000
        </td>
        <td class="table__item">
            осн
        </td>
        <td class="table__item">
            2000
        </td>
    </tr>
</table>

<ul class="table-mobile">
    <li class="table-mobile__list">
        <span class="table-mobile__number">#1</span>
        <time class="table-mobile__icon table-mobile__icon--time" datetime="2023-10-10">
            10.10.2023
        </time>
        <dl class="table-mobile__items">
            <div>
                <dt>Тип:</dt>
                <dd>Пополнение</dd>
            </div>

            <div>
                <dt>Сумма:</dt>
                <dd>6500</dd>
            </div>

            <div>
                <dt>Валюта:</dt>
                <dd>Осн</dd>
            </div>

            <div>
                <dt>Баланс:</dt>
                <dd>7.000 р.</dd>
            </div>
        </dl>
    </li>
    <li class="table-mobile__list">
        <span class="table-mobile__number">#2</span>
        <time class="table-mobile__icon table-mobile__icon--time" datetime="2023-10-10">
            10.10.2023
        </time>
        <dl class="table-mobile__items">
            <div>
                <dt>Тип:</dt>
                <dd>Пополнение</dd>
            </div>
    
            <div>
                <dt>Сумма:</dt>
                <dd>6500</dd>
            </div>
    
            <div>
                <dt>Валюта:</dt>
                <dd>csgo</dd>
            </div>
    
            <div>
                <dt>Баланс:</dt>
                <dd>7.000 р.</dd>
            </div>
        </dl>
    </li>
</ul>

<!-- history-withdraw-1 -->
<table class="table">
    <tr class="table__items table__items--headding">
        <th class="table__item">Дата</th>
        <th class="table__item">Сумма</th>
        <th class="table__item">Статус</th>
        <th class="table__item">Ссылка на вывод</th>
        <th class="table__item">Причина</th>
        <th class="table__item">Методы вывода</th>
    </tr>

    <tr class="table__items">
        <td class="table__item">
            <time datetime="2023-10-10">10.10.2023</time>
        </td>
        <td class="table__item">
            10000
        </td>
        <td class="table__item table__item--error">
            Откланён
        </td>
        <td class="table__item"></td>
        <td class="table__item">
            Недостаточно средств
        </td>
        <td class="table__item">
            Банковская Карта
        </td>
    </tr>

    <tr class="table__items">
        <td class="table__item">
            <time datetime="2023-10-10">10.10.2023</time>
        </td>
        <td class="table__item">
            10000
        </td>
        <td class="table__item table__item--confirm">
            Подтверждён
        </td>
        <td class="table__item">
            <a class="table__withdraw" href="#">Вывести</a>
        </td>
        <td class="table__item"></td>
        <td class="table__item">
            Крипта
        </td>
    </tr>
</table>

<ul class="table-mobile">
    <li class="table-mobile__list">
        <span class="table-mobile__number">#1</span>
        <time class="table-mobile__icon table-mobile__icon--time" datetime="2023-10-10">
            10.10.2023
        </time>
        <dl class="table-mobile__items">
            <div>
                <dt>Сумма:</dt>
                <dd>1.000 р.</dd>
            </div>

            <div>
                <dt>Статус:</dt>
                <dd class="table-mobile__error">Откланён</dd>
            </div>

            <div>
                <dt>Ссылка на вывод:</dt>
                <dd>-</dd>
            </div>

            <div>
                <dt>Причина:</dt>
                <dd>Недостаточно средств</dd>
            </div>
        </dl>
    </li>
    <li class="table-mobile__list">
        <span class="table-mobile__number">#1</span>
        <time class="table-mobile__icon table-mobile__icon--time" datetime="2023-10-10">
            10.10.2023
        </time>
        <dl class="table-mobile__items">
            <div>
                <dt>Сумма:</dt>
                <dd>1.000 р.</dd>
            </div>
    
            <div>
                <dt>Статус:</dt>
                <dd class="table-mobile__confirm">Подтверждён</dd>
            </div>
    
            <div>
                <dt>Ссылка на вывод:</dt>
                <dd><a href="#">Вывести</a></dd>
            </div>
    
            <div>
                <dt>Причина:</dt>
                <dd>-</dd>
            </div>
        </dl>
    </li>
</ul>

<!-- history-refill -->
<table class="table">
    <tr class="table__items table__items--headding">
        <th class="table__item">Дата</th>
        <th class="table__item">Сумма</th>
        <th class="table__item">Курс</th>
        <th class="table__item">Метод пополнения</th>
        <th class="table__item">Статус</th>
        <th class="table__item">Баланс</th>
    </tr>

    <tr class="table__items">
        <td class="table__item">
            <time datetime="2023-10-10">10.10.2023</time>
        </td>
        <td class="table__item">
            500
        </td>
        <td class="table__item">
            65
        </td>
        <td class="table__item">
            Картой
        </td>
        <td class="table__item table__item--confirm">
            Подтверждён
        </td>
        <td class="table__item">
            7000
        </td>
    </tr>

    <tr class="table__items">
        <td class="table__item">
            <time datetime="2023-10-10">10.10.2023</time>
        </td>
        <td class="table__item">
            500
        </td>
        <td class="table__item">
            65
        </td>
        <td class="table__item">
            Картой
        </td>
        <td class="table__item table__item--confirm">
            Подтверждён
        </td>
        <td class="table__item">
            7000
        </td>
    </tr>
</table>

<ul class="table-mobile">
    <li class="table-mobile__list">
        <span class="table-mobile__number">#1</span>
        <time class="table-mobile__icon table-mobile__icon--time" datetime="2023-10-10">
            10.10.2023
        </time>
        <dl class="table-mobile__items">
            <div>
                <dt>Сумма:</dt>
                <dd>1.000 р.</dd>
            </div>

            <div>
                <dt>Курс:</dt>
                <dd>65</dd>
            </div>

            <div>
                <dt>Метод пополнения:</dt>
                <dd>Картой</dd>
            </div>

            <div>
                <dt>Статус:</dt>
                <dd class="table-mobile__confirm">Подтверждён</dd>
            </div>
            <div>
                <dt>Баланс:</dt>
                <dd>7.000 р.</dd>
            </div>
        </dl>
    </li>
    <li class="table-mobile__list">
        <span class="table-mobile__number">#2</span>
        <time class="table-mobile__icon table-mobile__icon--time" datetime="2023-10-10">
            10.10.2023
        </time>
        <dl class="table-mobile__items">
            <div>
                <dt>Сумма:</dt>
                <dd>1.000 р.</dd>
            </div>
    
            <div>
                <dt>Курс:</dt>
                <dd>65</dd>
            </div>
    
            <div>
                <dt>Метод пополнения:</dt>
                <dd>Картой</dd>
            </div>
    
            <div>
                <dt>Статус:</dt>
                <dd class="table-mobile__confirm">Подтверждён</dd>
            </div>
            <div>
                <dt>Баланс:</dt>
                <dd>7.000 р.</dd>
            </div>
        </dl>
    </li>
</ul>

<!-- history-withdraw-2 -->
<table class="table">
    <tr class="table__items table__items--headding">
        <th class="table__item">Дата</th>
        <th class="table__item">Сумма</th>
        <th class="table__item">Метод пополнения</th>
        <th class="table__item">Статус</th>
        <th class="table__item">Баланс</th>
    </tr>

    <tr class="table__items">
        <td class="table__item">
            <time datetime="2023-10-10">10.10.2023</time>
        </td>
        <td class="table__item">
            500
        </td>
        <td class="table__item">
            Картой
        </td>
        <td class="table__item table__item--confirm">
            Подтверждён
        </td>
        <td class="table__item">
            7000
        </td>
    </tr>

    <tr class="table__items">
        <td class="table__item">
            <time datetime="2023-10-10">10.10.2023</time>
        </td>
        <td class="table__item">
            500
        </td>
        <td class="table__item">
            Картой
        </td>
        <td class="table__item table__item--error">
            Откланён
        </td>
        <td class="table__item">
            3000
        </td>
    </tr>

    <tr class="table__items">
        <td class="table__item">
            <time datetime="2023-10-10">10.10.2023</time>
        </td>
        <td class="table__item">
            500
        </td>
        <td class="table__item">
            Картой
        </td>
        <td class="table__item table__item--confirm">
            Подтверждён
        </td>
        <td class="table__item">
            2000
        </td>
    </tr>
</table>

<ul class="table-mobile">
    <li class="table-mobile__list">
        <span class="table-mobile__number">#1</span>
        <time class="table-mobile__icon table-mobile__icon--time" datetime="2023-10-10">
            10.10.2023
        </time>
        <dl class="table-mobile__items">
            <div>
                <dt>Сумма:</dt>
                <dd>1.000 р.</dd>
            </div>

            <div>
                <dt>Метод пополнения:</dt>
                <dd>Картой</dd>
            </div>

            <div>
                <dt>Статус:</dt>
                <dd class="table-mobile__confirm">Подтверждён</dd>
            </div>
            <div>
                <dt>Баланс:</dt>
                <dd>7.000 р.</dd>
            </div>
        </dl>
    </li>
    <li class="table-mobile__list">
        <span class="table-mobile__number">#2</span>
        <time class="table-mobile__icon table-mobile__icon--time" datetime="2023-10-10">
            10.10.2023
        </time>
        <dl class="table-mobile__items">
            <div>
                <dt>Сумма:</dt>
                <dd>1.000 р.</dd>
            </div>
    
            <div>
                <dt>Метод пополнения:</dt>
                <dd>Картой</dd>
            </div>
    
            <div>
                <dt>Статус:</dt>
                <dd class="table-mobile__error">Отклонён</dd>
            </div>
            <div>
                <dt>Баланс:</dt>
                <dd>7.000 р.</dd>
            </div>
        </dl>
    </li>
</ul>

<!-- profile -->
<table class="profile__table table">
    <tr class="table__items table__items--headding">
        <th class="table__item">География</th>
        <th class="table__item">Килы</th>
        <th class="table__item">Точность</th>
        <th class="table__item">Конв. выстрелов</th>
        <th class="table__item">Частота выходов</th>
        <th class="table__item">% побед</th>
        <th class="table__item">Чистые победы</th>
        <th class="table__item">Кол-во претензий</th>
    </tr>

    <tr class="table__items">
        <td class="table__item">
            Саратов
        </td>
        <td class="table__item">
            10
        </td>
        <td class="table__item">
            78
        </td>
        <td class="table__item">
            20
        </td>
        <td class="table__item">
            2
        </td>
        <td class="table__item">
            55%
        </td>
        <td class="table__item">
            2
        </td>
        <td class="table__item">
            2
        </td>
    </tr>
</table>

<ul class="table-mobile">
    <li class="table-mobile__list">
        <span class="table-mobile__number">#1</span>
        <dl class="table-mobile__items">
            <div>
                <dt>География:</dt>
                <dd>Саратов</dd>
            </div>

            <div>
                <dt>Килы:</dt>
                <dd>10</dd>
            </div>

            <div>
                <dt>Конв. выстрелов:</dt>
                <dd>78</dd>
            </div>
            <div>
                <dt>Частота выходов:</dt>
                <dd>2</dd>
            </div>
            <div>
                <dt>% побед:</dt>
                <dd>55%</dd>
            </div>
            <div>
                <dt>Кол- во претензий:</dt>
                <dd>2</dd>
            </div>
            <div>
                <dt>Карта:</dt>
                <dd>Dust</dd>
            </div>
            <div>
                <dt>Механика:</dt>
                <dd>Классический</dd>
            </div>
            <div>
                <dt>Дневной интервал:</dt>
                <dd>12-16</dd>
            </div>
        </dl>
    </li>
</ul>