<!-- create-bet -->
<table class="table">
    <tr class="table__items table__items--headding">
        <th class="table__item">Тип игры</th>
        <th class="table__item">Тип карты</th>
        <th class="table__item">Ограничение на оружие</th>
        <th class="table__item">Время раунда</th>
        <th class="table__item">Формула</th>
    </tr>

    <tr class="table__items">
        <td class="table__item">
            Обычный
        </td>
        <td class="table__item">
            Заложники
        </td>
        <td class="table__item">
            Нет
        </td>
        <td class="table__item">
            1ч 40м
        </td>
        <td class="table__item">
            Всё победителю
        </td>
    </tr>

    <tr class="table__items">
        <td class="table__item">
            Обычный
        </td>
        <td class="table__item">
            Заложники
        </td>
        <td class="table__item">
            Нет
        </td>
        <td class="table__item">
            1ч 40м
        </td>
        <td class="table__item">
            Всё победителю
        </td>
    </tr>
</table>

<ul class="table-mobile">
    <li class="table-mobile__list">
        <span class="table-mobile__number">#1</span>
        <dl class="table-mobile__items">
            <div>
                <dt>Тип игры:</dt>
                <dd>Обычный</dd>
            </div>

            <div>
                <dt>Тип карты:</dt>
                <dd>Заложники</dd>
            </div>

            <div>
                <dt>Ограничения на оружие::</dt>
                <dd><a href="#">Нет</a></dd>
            </div>

            <div>
                <dt>Время раунда:</dt>
                <dd>1ч 40м</dd>
            </div>

            <div>
                <dt>Формула:</dt>
                <dd>Всё победителю</dd>
            </div>
        </dl>
    </li>
</ul>