<!-- upcoming-tournaments -->
<table class="upcoming-tournaments__table table">
    <tr class="table__items table__items--headding">
        <th class="table__item">Игра</th>
        <th class="table__item">Команда</th>
        <th class="table__item">Дата</th>
        <th class="table__item">Сумма</th>
        <th class="table__item">Оружие</th>
        <th class="table__item">ID</th>
        <th class="table__item"></th>
    </tr>
    <tr class="table__items">
        <td class="table__item">
            <div class="upcoming-tournaments__play">
                <div class="upcoming-tournaments__type" style="background-image: url('img/tournament-type.svg');">
                    <span class="sr-only">pvp</span>
                </div>
                <div class="upcoming-tournaments__score">
                    <span>1:1</span>
                    <span>Dust 2</span>
                </div>
            </div>
        </td>
        <td class="table__item">
            <div class="table__team">
                <picture class="table__logo">
                    <source srcset="img/team-logo/navi.avif" type="image/avif">
                    <source srcset="img/team-logo/navi.webp" type="image/webp">
                    <img src="img/team-logo/navi.png" alt="navi" width="50" height="50" loading="lazy">
                </picture>
            </div>
        </td>
        <td class="table__item table__item--bold">
            <time datetime="2023-10-10">10.10.2023</time>
        </td>
        <td class="table__item">
            <span class="table__price">7.000</span>
        </td>
        <td class="table__item">
            AVP
        </td>
        <td class="table__item">
            188233844
        </td>
        <td class="table__item">
            <ul class="table__controls">
                <li class="table__control">
                    <a class="table__link" href="#" style="background-image: url('img/icons/finish.svg');">
                        <span class="sr-only">Финиш</span>
                    </a>
                </li>
                <li class="table__control table__control--icon">
                    <a class="table__link" href="#" style="background-image: url('img/icons/aim.svg');">
                        <span class="sr-only">Смотреть</span>
                    </a>
                </li>
                <li class="table__control">
                    <a class="table__link" href="#" style="background-image: url('img/icons/edit.svg');">
                        <span class="sr-only">Редактировать ставку</span>
                    </a>
                </li>
            </ul>
        </td>
    </tr>
    <tr class="table__items">
        <td class="table__item">
            <div class="upcoming-tournaments__play">
                <div class="upcoming-tournaments__type" style="background-image: url('img/tournament-type.svg');">
                    <span class="sr-only">pvp</span>
                </div>
                <div class="upcoming-tournaments__score">
                    <span>1:1</span>
                    <span>Dust 2</span>
                </div>
            </div>
        </td>
        <td class="table__item">
            <div class="table__team">
                <picture class="table__logo">
                    <source srcset="img/team-logo/navi.avif" type="image/avif">
                    <source srcset="img/team-logo/navi.webp" type="image/webp">
                    <img src="img/team-logo/navi.png" alt="navi" width="50" height="50" loading="lazy">
                </picture>
            </div>
        </td>
        <td class="table__item table__item--bold">
            <time datetime="2023-10-10">10.10.2023</time>
        </td>
        <td class="table__item">
            <span class="table__price">7.000</span>
        </td>
        <td class="table__item">
            AVP
        </td>
        <td class="table__item">
            188233844
        </td>
        <td class="table__item">
            <ul class="table__controls">
                <li class="table__control">
                    <a class="table__link" href="#" style="background-image: url('img/icons/finish.svg');">
                        <span class="sr-only">Финиш</span>
                    </a>
                </li>
                <li class="table__control">
                    <a class="table__link" href="#" style="background-image: url('img/icons/aim-super.svg');">
                        <span class="sr-only">Смотреть</span>
                    </a>
                </li>
                <li class="table__control">
                    <a class="table__link" href="#" style="background-image: url('img/icons/edit.svg');">
                        <span class="sr-only">Редактировать ставку</span>
                    </a>
                </li>
            </ul>
        </td>
    </tr>
    <tr class="table__items">
        <td class="table__item">
            <div class="upcoming-tournaments__play">
                <div class="upcoming-tournaments__type" style="background-image: url('img/tournament-type.svg');">
                    <span class="sr-only">pvp</span>
                </div>
                <div class="upcoming-tournaments__score">
                    <span>1:1</span>
                    <span>Dust 2</span>
                </div>
            </div>
        </td>
        <td class="table__item">
            <div class="table__team">
                <picture class="table__logo" >
                    <source srcset="img/team-logo/navi.avif" type="image/avif">
                    <source srcset="img/team-logo/navi.webp" type="image/webp">
                    <img src="img/team-logo/navi.png" alt="navi" width="50" height="50" loading="lazy">
                </picture>
            </div>
        </td>
        <td class="table__item table__item--bold">
            <time datetime="2023-10-10">10.10.2023</time>
        </td>
        <td class="table__item">
            <span class="table__price">7.000</span>
        </td>
        <td class="table__item">
            AVP
        </td>
        <td class="table__item">
            188233844
        </td>
        <td class="table__item">
            <ul class="table__controls">
                <li class="table__control">
                    <a class="table__link" href="#" style="background-image: url('img/icons/cup.svg');">
                        <span class="sr-only">Финиш</span>
                    </a>
                </li>
                <li class="table__control table__control--icon">
                    <a class="table__link" href="#" style="background-image: url('img/icons/aim.svg');">
                        <span class="sr-only">Смотреть</span>
                    </a>
                </li>
                <li class="table__control">
                    <a class="table__link" href="#" style="background-image: url('img/icons/edit.svg');">
                        <span class="sr-only">Редактировать ставку</span>
                    </a>
                </li>
            </ul>
        </td>
    </tr>
</table>

<!-- awards -->
<table class="table">
    <tr class="table__items table__items--headding">
        <th class="table__item">Дата</th>
        <th class="table__item">Игрок</th>
        <th class="table__item">Ставка</th>
        <th class="table__item">Результат</th>
        <th class="table__item">Заработок</th>
    </tr>
    <tr class="table__items">
        <td class="table__item table__item--bold">
            <div datetime="2023-10-10">10.10.2023</div>
        </td>
        <td class="table__item">
            <div class="table__team">
                <picture class="table__logo">
                    <source srcset="img/team-logo/navi.avif" type="image/avif">
                    <source srcset="img/team-logo/navi.webp" type="image/webp">
                    <img src="img/team-logo/navi.png" alt="navi" width="50" height="50" loading="lazy">
                </picture>
                <span>NAVI</span>
            </div>
        </td>
        <td class="table__item">
            1.500
        </td>
        <td class="table__item">
            <div class="awards__table__result">
                <span class="awards__table__icon" style="background-image: url('img/icons/cup.svg');" aria-hidden></span>
                <span class="awards__table__status">Win</span>
                <span class="awards__table__score awards__table__score--win">15:9</span>
            </div>
        </td>
        <td class="table__item">
            3.000
        </td>
    </tr>
    <tr class="table__items">
        <td class="table__item table__item--bold">
            <time datetime="2023-10-10">10.10.2023</time>
        </td>
        <td class="table__item">
            <div class="table__team">
                <picture class="table__logo">
                    <source srcset="img/team-logo/navi.avif" type="image/avif">
                    <source srcset="img/team-logo/navi.webp" type="image/webp">
                    <img src="img/team-logo/navi.png" alt="navi" width="50" height="50" loading="lazy">
                </picture>
                <span>NAVI</span>
            </div>
        </td>
        <td class="table__item">
            1.500
        </td>
        <td class="table__item">
            <div class="awards__table__result">
                <span class="awards__table__icon" style="background-image: url('img/icons/cup.svg');" aria-hidden></span>
                <span class="awards__table__status">Loose</span>
                <span class="awards__table__score awards__table__score--loose">10:15</span>
            </div>
        </td>
        <td class="table__item">
            3.000
        </td>
    </tr>
</table>

<!-- history-bet -->
<table class="table">
    <tr class="table__items table__items--headding">
        <th class="table__item">ID</th>
        <th class="table__item">Результат</th>
        <th class="table__item">Карта</th>
        <th class="table__item">Дата</th>
        <th class="table__item">Претензия</th>
    </tr>

    <tr class="table__items">
        <td class="table__item table__item--bold">
            18998872
        </td>
        <td class="table__item">
            от 10 до 10.000
        </td>
        <td class="table__item">
            Dast 2
        </td>
        <td class="table__item">
            <time datetime="2023-10-10">10.10.2023</time>
        </td>
        <td class="table__item table__item--accent">
            Есть
        </td>
    </tr>

    <tr class="table__items">
        <td class="table__item table__item--bold">
            221112
        </td>
        <td class="table__item">
            от 10 до 10.000
        </td>
        <td class="table__item">
            Dast 2
        </td>
        <td class="table__item">
            <time datetime="2023-10-10">10.10.2023</time>
        </td>
        <td class="table__item table__item--accent">
            Есть
        </td>
    </tr>

    <tr class="table__items">
        <td class="table__item table__item--bold">
            23323
        </td>
        <td class="table__item">
            от 10 до 10.000
        </td>
        <td class="table__item">
            Dast 2
        </td>
        <td class="table__item">
            <time datetime="2023-10-10">10.10.2023</time>
        </td>
        <td class="table__item">
            Нету
        </td>
    </tr>
</table>

<!-- my-tournaments -->
<table class="table">
    <tr class="table__items table__items--headding">
        <th class="table__item">Тип игры</th>
        <th class="table__item">Тип карты</th>
        <th class="table__item">Ограничение на оружие</th>
        <th class="table__item">Время раунда</th>
        <th class="table__item">Формула</th>
    </tr>

    <tr class="table__items">
        <td class="table__item">
            Обычный
        </td>
        <td class="table__item">
            Заложники
        </td>
        <td class="table__item">
            Нет
        </td>
        <td class="table__item">
            1ч 40м
        </td>
        <td class="table__item">
            Всё победителю
        </td>
    </tr>

    <tr class="table__items">
        <td class="table__item">
            Обычный
        </td>
        <td class="table__item">
            Заложники
        </td>
        <td class="table__item">
            Нет
        </td>
        <td class="table__item">
            1ч 40м
        </td>
        <td class="table__item">
            Всё победителю
        </td>
    </tr>
</table>

<!-- stack-conclusion -->
<table class="table">
    <tr class="table__items table__items--headding">
        <th class="table__item">Дата</th>
        <th class="table__item">Сумма</th>
        <th class="table__item">Статус</th>
        <th class="table__item">Ссылка на вывод</th>
        <th class="table__item">Причина</th>
    </tr>

    <tr class="table__items">
        <td class="table__item">
            <time datetime="2023-10-10">10.10.2023</time>
        </td>
        <td class="table__item">
            10000
        </td>
        <td class="table__item table__item--error">
            Откланён
        </td>
        <td class="table__item"></td>
        <td class="table__item">
            Недостаточно средств
        </td>
    </tr>

    <tr class="table__items">
        <td class="table__item">
            <time datetime="2023-10-10">10.10.2023</time>
        </td>
        <td class="table__item">
            10000
        </td>
        <td class="table__item table__item--confirm">
            Подтверждён
        </td>
        <td class="table__item">
            <a class="table__withdraw" href="#">Вывести</a>
        </td>
        <td class="table__item"></td>
    </tr>
</table>

<!-- history-balance -->
<table class="table">
    <tr class="table__items table__items--headding">
        <th class="table__item">Дата</th>
        <th class="table__item">Тип</th>
        <th class="table__item">Сумма</th>
        <th class="table__item">Валюта</th>
        <th class="table__item">Баланс</th>
    </tr>

    <tr class="table__items">
        <td class="table__item">
            <time datetime="2023-10-10">10.10.2023</time>
        </td>
        <td class="table__item">
            Пополнение
        </td>
        <td class="table__item">
            6500
        </td>
        <td class="table__item">
            осн
        </td>
        <td class="table__item">
            7000
        </td>
    </tr>

    <tr class="table__items">
        <td class="table__item">
            <time datetime="2023-10-10">10.10.2023</time>
        </td>
        <td class="table__item">
            Бонус
        </td>
        <td class="table__item">
            500
        </td>
        <td class="table__item">
            csgo
        </td>
        <td class="table__item">
            3000
        </td>
    </tr>

    <tr class="table__items">
        <td class="table__item">
            <time datetime="2023-10-10">10.10.2023</time>
        </td>
        <td class="table__item">
            Претензия
        </td>
        <td class="table__item">
            1000
        </td>
        <td class="table__item">
            осн
        </td>
        <td class="table__item">
            2000
        </td>
    </tr>
</table>

<!-- history-withdraw-1 -->
<table class="table">
    <tr class="table__items table__items--headding">
        <th class="table__item">Дата</th>
        <th class="table__item">Сумма</th>
        <th class="table__item">Статус</th>
        <th class="table__item">Ссылка на вывод</th>
        <th class="table__item">Причина</th>
        <th class="table__item">Методы вывода</th>
    </tr>

    <tr class="table__items">
        <td class="table__item">
            <time datetime="2023-10-10">10.10.2023</time>
        </td>
        <td class="table__item">
            10000
        </td>
        <td class="table__item table__item--error">
            Откланён
        </td>
        <td class="table__item"></td>
        <td class="table__item">
            Недостаточно средств
        </td>
        <td class="table__item">
            Банковская Карта
        </td>
    </tr>

    <tr class="table__items">
        <td class="table__item">
            <time datetime="2023-10-10">10.10.2023</time>
        </td>
        <td class="table__item">
            10000
        </td>
        <td class="table__item table__item--confirm">
            Подтверждён
        </td>
        <td class="table__item">
            <a class="table__withdraw" href="#">Вывести</a>
        </td>
        <td class="table__item"></td>
        <td class="table__item">
            Крипта
        </td>
    </tr>
</table>

<!-- history-refill -->
<table class="table">
    <tr class="table__items table__items--headding">
        <th class="table__item">Дата</th>
        <th class="table__item">Сумма</th>
        <th class="table__item">Курс</th>
        <th class="table__item">Метод пополнения</th>
        <th class="table__item">Статус</th>
        <th class="table__item">Баланс</th>
    </tr>

    <tr class="table__items">
        <td class="table__item">
            <time datetime="2023-10-10">10.10.2023</time>
        </td>
        <td class="table__item">
            500
        </td>
        <td class="table__item">
            65
        </td>
        <td class="table__item">
            Картой
        </td>
        <td class="table__item table__item--confirm">
            Подтверждён
        </td>
        <td class="table__item">
            7000
        </td>
    </tr>

    <tr class="table__items">
        <td class="table__item">
            <time datetime="2023-10-10">10.10.2023</time>
        </td>
        <td class="table__item">
            500
        </td>
        <td class="table__item">
            65
        </td>
        <td class="table__item">
            Картой
        </td>
        <td class="table__item table__item--confirm">
            Подтверждён
        </td>
        <td class="table__item">
            7000
        </td>
    </tr>
</table>

<!-- history-withdraw-2 -->
<table class="table">
    <tr class="table__items table__items--headding">
        <th class="table__item">Дата</th>
        <th class="table__item">Сумма</th>
        <th class="table__item">Метод пополнения</th>
        <th class="table__item">Статус</th>
        <th class="table__item">Баланс</th>
    </tr>

    <tr class="table__items">
        <td class="table__item">
            <time datetime="2023-10-10">10.10.2023</time>
        </td>
        <td class="table__item">
            500
        </td>
        <td class="table__item">
            Картой
        </td>
        <td class="table__item table__item--confirm">
            Подтверждён
        </td>
        <td class="table__item">
            7000
        </td>
    </tr>

    <tr class="table__items">
        <td class="table__item">
            <time datetime="2023-10-10">10.10.2023</time>
        </td>
        <td class="table__item">
            500
        </td>
        <td class="table__item">
            Картой
        </td>
        <td class="table__item table__item--error">
            Откланён
        </td>
        <td class="table__item">
            3000
        </td>
    </tr>

    <tr class="table__items">
        <td class="table__item">
            <time datetime="2023-10-10">10.10.2023</time>
        </td>
        <td class="table__item">
            500
        </td>
        <td class="table__item">
            Картой
        </td>
        <td class="table__item table__item--confirm">
            Подтверждён
        </td>
        <td class="table__item">
            2000
        </td>
    </tr>
</table>

<!-- profile -->
<table class="profile__table table">
    <tr class="table__items table__items--headding">
        <th class="table__item">География</th>
        <th class="table__item">Килы</th>
        <th class="table__item">Точность</th>
        <th class="table__item">Конв. выстрелов</th>
        <th class="table__item">Частота выходов</th>
        <th class="table__item">% побед</th>
        <th class="table__item">Чистые победы</th>
        <th class="table__item">Кол-во претензий</th>
    </tr>

    <tr class="table__items">
        <td class="table__item">
            Саратов
        </td>
        <td class="table__item">
            10
        </td>
        <td class="table__item">
            78
        </td>
        <td class="table__item">
            20
        </td>
        <td class="table__item">
            2
        </td>
        <td class="table__item">
            55%
        </td>
        <td class="table__item">
            2
        </td>
        <td class="table__item">
            2
        </td>
    </tr>
</table>