.upcoming-tournaments {

	&__content {
		display: flex;
		justify-content: space-between;
		margin-bottom: 15px;
	}

	&__list {
		display: flex;
		flex-direction: column;

		&:not(:last-child) {
			margin-right: 25px;
		}

		*:not(:last-child) {
			margin-bottom: 4px;
		}
	}
}