.button,
.button-medium {
	@include flex-all-center;
	line-height: 1.1;
	border-radius: 5px;
}

.button {
	padding-top: 14px;
	padding-bottom: 14px;
	color: $white;
	font-weight: $fw-500;
	background-color: $blue-400;
	@include adaptiv-value('padding-right', 65, 35, 1);
	@include adaptiv-value('padding-left', 65, 35, 1);

	&--border {
		color: $blue-400;
		background-color: transparent;
		border: 2px solid $blue-400;
	}

	&--small {
		padding: 4px 8px;
	}

	&--icon {
		position: relative;

		&::before {
			position: absolute;
			top: 50%;
			left: 15px;
			width: 18px;
			height: 18px;
			transform: translateY(-50%);
			content: '';
			@include bg-contain;
		}
	}

	&--menu {
		position: relative;
		padding: 17px 53px 17px 33px;

		&::before {
			position: absolute;
			top: 50%;
			right: 20px;
			width: 15px;
			height: 15px;
			background-image: url('../img/icons/drop-menu.svg');
			transform: translateY(-60%);
			content: '';
			@include bg-contain;
		}
	}

	&--notification {
		position: relative;

		&::before {
			position: absolute;
			top: 0;
			right: 0;
			width: 26px;
			height: 26px;
			background-color: $blue-400;
			border: 5px solid $blue-100;
			border-radius: 50%;
			transform: translate(50%, -50%);
			content: '';
		}
	}

	&--notification-number {
		position: relative;

		.button__notification {
			position: absolute;
			top: 0;
			right: 0;
			margin-left: 0;
			padding: 2px 6px;
			border-radius: 1000px;
			transform: translate(50%, -50%);
		}
	}

	&__notification {
		margin-left: 4px;
		padding: 2px;
		background-color: $dark-800;
		border-radius: 5px;
	}
}

.button-medium {
	padding: 12px 35px;
	color: $white;
	background-color: $dark-800;

	&--border {
		color: $dark-800;
		background-color: transparent;
		border: 2px solid $dark-800;
	}
}
