/* stylelint-disable */

@mixin font-face($font-family, $url, $weight) {
    @font-face {
        font-family: "#{$font-family}";
        src: url('../fonts/#{$url}.woff2') format("woff2"),
        url('../fonts/#{$url}.woff') format("woff");
        font-weight: #{$weight};
        font-display: swap;
        font-style: normal;
    }
}

//* Russo
@include font-face(Russo-One, RussoOne-Regular, 400);

//* Nexa
@include font-face(Nexa, Nexa-Regular, 400);
@include font-face(Nexa, Nexa-Book, 400);
@include font-face(Nexa, Nexa-Bold, 700);
@include font-face(Nexa, Nexa-Black, 800);