/* stylelint-disable */

@mixin font-face($font-family, $url, $weight) {
    @font-face {
        font-family: "#{$font-family}";
        src: url('../fonts/#{$url}.woff2') format("woff2"),
        url('../fonts/#{$url}.woff') format("woff");
        font-weight: #{$weight};
        font-display: swap;
        font-style: normal;
    }
}

@include font-face(Russo-One, RussoOne-Regular, 400);

@include font-face(Oswald, Oswald-Medium, 500);

@include font-face(Murecho, Murecho-Regular, 400);
@include font-face(Murecho, Murecho-SemiBold, 600);
@include font-face(Murecho, Murecho-Bold, 700);
@include font-face(Murecho, Murecho-Black, 800);