/* stylelint-disable */

// * colors
$white: #ffffff;
$black: #000000;

$blue-100: #f2f4ff;
$blue-200: #e2e5f3;
$blue-300: #d6edff;
$blue-400: #007bd8;
$blue-600: #04385f;

$dark-800: #191e26;

$grey-400: #8c8e92;
$grey-300: #dfdfdf;
$grey-200: #E6E6E6;

$green-400: #2bb71f;
$green-200: #cfffcb;

$red-500: #ff1919;
$red-400: #b7431f;
$red-200: #ffcbcb;

$yellow-500: #b79e1f;
$yellow-300: #feffd6;
$yellow-200: #fff1cb;

// * fonts
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

$murecho: 'Murecho';
$oswald: 'Oswald';
$russo: 'Russo-One';
