/* stylelint-disable */

// * colors
$white: #ffffff;
$black: #000000;

$blue-100: #f2f4ff;
$blue-200: #e2e5f3;
$blue-400: #007bd8;
$blue-600: #04385f;

$dark-800: #191e26;

$grey-300: #dfdfdf;

$green-400: #2bb71f;

$red-400: #b7431f;

$yellow-300: #feffd6;

// * fonts
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
$fw-900: 900;

$nexa: 'Nexa';
$russo: 'Russo-One';
