.marquee {
	display: flex;

	&__items {
		display: flex;
		margin-top: 20px;
		animation: ticker 40s infinite linear;
	}

	&__item {
        margin-right: 8px;
		white-space: nowrap;
	}
}

@keyframes ticker {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(-100%)
    }
}